* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #FFEBEE; /* Adjust as needed */
}

/* Sidebar Navigation */
.nav {
    background-color: #1A1A1A; /* Dark charcoal background */
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    position: fixed;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.logo {
    width: 30px; /* Adjust logo size */
    margin-right: 10px;
}

.app-name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links button {
    background: none;
    border: none;
    color: #FFFFFF;
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.links button .icon {
    width: 20px;
    height: 20px;
    color: #FFFFFF; /* Inherits color from button */
}

.links button.active {
    background-color: #333;
    border-left: 4px solid #D7263D;
}

.links button:hover {
    background-color: #333;
}


/* Main content offset for sidebar */
.container {
    margin-left: 240px; /* Offset for the sidebar */
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 240px); /* Adjust width to account for sidebar */
    box-sizing: border-box;
}

/* Search bar styling */
#searchBar {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/* Table styling */
.table {
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
}

.table-header {
    background-color:#D7263D;
    color: white;
    font-weight: bold;
}

.table-row {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-header, .table-cell {
    padding: 10px;
    text-align: center;
}

.table-cell {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.table-row:nth-child(even) {
    background-color: #f9f9f9;
}

/* Job listing styles */
ul {
    list-style-type: none;
    padding: 0;
    clear: both;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.details {
    flex-grow: 1;
    margin-right: 20px;
    line-height: 1.6;
    text-align: left;
    font-size: 16px;
}

.jobTitle {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.company, .location {
    font-size: 16px;
    color: #666;
}

.buttons-container {
    display: flex;
    gap: 10px; /* Adds 10px space between the buttons */
}

.unarchive-button {
    margin-right: 10px;
}


/* Button styling */
button {
    background-color: #D7263D;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination .pagination-button {
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px 12px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination .pagination-button.active {
    background-color: #D7263D;
    color: white;
    border-color: #e74c3c;
}

.pagination .pagination-button:hover:not(.active) {
    background-color: #f0f0f0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    li {
        flex-direction: column;
        align-items: flex-start;
    }

    .details {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

/* Confirmation dialog */
.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.confirmation-dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirmation-dialog-buttons button {
    background-color:#D7263D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmation-dialog-buttons button:hover {
    background-color: darkred;
}

/* Loading Screen */
.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    z-index: 2000;
    align-items: center;
}

.load-circle{
    width: 100px;
    height: 40px;
    --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: la9 1s infinite alternate;
}
  @keyframes la9 {
    0% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
      background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
      background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
      background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
  }
  /*loading screen */

/* Vacancy dialog */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Set a width for the dialog */
}

.dialog-content p {
    margin-bottom: 20px; /* Add margin below the paragraph */
}

.dialog-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; /* Evenly space the buttons */
}

.dialog-buttons button {
    background-color: #D7263D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dialog-buttons button:hover {
    background-color: #c0392b;
}

.dialog-buttons button:first-child {
    background-color: #e74c3c;
}

.dialog-buttons button:first-child:hover {
    background-color: #c0392b;
}

#vacancyInput {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
