/* General styles */
body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 70px;
}

/* Navigation bar */
.nav {
    background: linear-gradient(90deg, rgba(223, 75, 75, 1) 46%, rgba(189, 26, 26, 1) 63%, rgba(130, 20, 20, 1) 97%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.links {
    display: flex;
    align-items: center;
}

.links button {
    background: none;
    border: none;
    color: #f2f2f2;
    padding: 16px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.links button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.links button:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Container styles */
.container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Align search bar to the left */
h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

#searchBar {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-left: 0;
    display: inline-block;
}

/* Job listing styles */
ul {
    list-style-type: none;
    padding: 0;
    clear: both;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.details {
    flex-grow: 1;
    margin-right: 20px;
    line-height: 1.6;
    text-align: left;
    font-size: 16px;
}

.jobTitle {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.company, .location {
    font-size: 16px;
    color: #666;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

/* Button styles */
button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

.unarchive-button,
.delete-button {
    margin: 0 5px;
}

.pagination-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button.active {
    background-color: #e74c3c;
}

.pagination-button:hover {
    background-color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    li {
        flex-direction: column;
        align-items: flex-start;
    }

    .details {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}

/* Confirmation dialog */
.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.confirmation-dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirmation-dialog-buttons button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmation-dialog-buttons button:hover {
    background-color: darkred;
}

/* Loading Screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #e74c3c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Vacancy dialog */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px; /* Set a width for the dialog */
}

.dialog-content p {
    margin-bottom: 20px; /* Add margin below the paragraph */
}

.dialog-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; /* Evenly space the buttons */
}

.dialog-buttons button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dialog-buttons button:hover {
    background-color: #c0392b;
}

.dialog-buttons button:first-child {
    background-color: #e74c3c;
}

.dialog-buttons button:first-child:hover {
    background-color: #c0392b;
}

#vacancyInput {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}