body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation bar */
.nav {
    background: linear-gradient(90deg, rgba(223, 75, 75, 1) 46%, rgba(189, 26, 26, 1) 63%, rgba(130, 20, 20, 1) 97%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
}

.links button {
    background: none; 
    border: none; 
    color: #f2f2f2;
    padding: 16px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.links button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Main container */
.container {
    width: 80%;
    margin: 100px auto 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header and Search Bar */
.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px; /* Added spacing between elements */
}

#searchBar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.refresh-btn {
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.refresh-btn img {
    width: 20px;
    height: 20px;
}

.refresh-btn:hover {
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style for list items */
li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Align items vertically */
    flex-wrap: wrap; /* Allow items to wrap in smaller screens */
}

/* Style for details section */
.details {
    flex-grow: 1;
    margin-right: 20px;
    line-height: 1.6;
    text-align: left;
    font-size: 16px;
}

/* Style for buttons */
li button {
    background-color: #E74C3C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
    font-size: 14px;
}

/* Align buttons horizontally */
li .buttons-container {
    display: flex;
    gap: 10px;
}

/* Button hover effect */
li button:hover {
    background-color: #c0392b;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    li {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons-container {
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start;
    }
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination .page-numbers {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.pagination button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    margin-left: 5px;
}

.pagination button:disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
    color: #999;
}

.pagination button:hover:not(:disabled) {
    background-color: #e0e0e0;
}

.pagination button.active {
    background-color: #c0392b;
    color: white;
    border-color: #c0392b;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirm-btn {
    background-color: #E74C3C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-btn {
    background-color: #E74C3C;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #c0392b;
}

.cancel-btn:hover {
    background-color: #c0392b;
}

/* Confirmation Dialog */
.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmation-dialog-buttons {
    display: flex;
    display: block;
    margin-top: 20px;
}

.confirmation-dialog-buttons button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmation-dialog-buttons button:hover {
    background-color: darkred;
}
/* Loading Screen */
/* loading */
.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.load-circle{
    width: 100px;
    height: 40px;
    --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: la9 1s infinite alternate;
}
  @keyframes la9 {
    0% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
      background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
      background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
      background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
      background-position: 0 50%, 50% 50%, 100% 50%;
    }
  }
  /*loading screen */
