body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation bar */
.nav {
    background: linear-gradient(90deg, rgba(223, 75, 75, 1) 46%, rgba(189, 26, 26, 1) 63%, rgba(130, 20, 20, 1) 97%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
}

.links button {
    background: none; 
    border: none; 
    color: #f2f2f2;
    padding: 16px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer; /* Ensure it's clear this is clickable */
}

.nav h2 {
    font-size: 30px;
    color: #f2f2f2;
    margin-left: 20px;
    margin-right: auto;
}

.links button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
}
/* End Navigation bar */

.job-container {
    padding: 16px;
    padding-top: 100px;
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap; /* Allows the content to wrap */
    gap: 10px;
}

.job-actions {
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-shrink: 0;
    width: 100%;
    max-width: 250px;   
}

.job-actions h2 {
    margin-bottom: 10px;
}

.job-actions #jobCount {
    margin-left: 10px; /* Adjust spacing to your liking */
    font-size: 0.6em; /* Smaller font size relative to h2 */
    color: #666; /* Subtle color difference if needed */
}

.job-actions input[type="text"],
.job-actions select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.job-actions button {
    background-color: #e74c3c;  /* example color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* Full width */
    box-sizing: border-box;
}

.job-actions button:hover {
    background-color: darkred;
}

.sort-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sort-container label,
.sort-container select,
.sort-container button {
    margin-right: 10px;
}

.sort-container button:last-child {
    margin-right: 0; /* Remove margin from last button */
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; /* Set minimum width for table for smaller viewports */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.jable {
    display: flex;
    padding: 30px;
    width: 76%; /* Adjust width */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

/* Circular checkboxes */
.circular-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.circular-checkbox:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #e74c3c; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Edit Button Styles */
table td button {
    background-color: #e74c3c; /* Primary blue color */
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

table td button:hover {
    background-color: darkred; /* Darker blue on hover */
}


/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination span {
    margin-right: 10px;
}

.pagination button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
    background-color: #f0f0f0;
}

.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
    border-color: #eee;
}

.pagination button:disabled:hover {
    background-color: #fff;
}

.pagination button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

/* Edit Job Form Styles */
#editJobForm {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust to match form width */
    max-width: 900px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}

#editJobForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 20px; /* Space between inputs */
}

.form-grid div {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2; /* Make these fields take up the entire row */
}

#editJobForm input,
#editJobForm textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

#editJobForm textarea {
    resize: vertical;
    height: 100px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-buttons button {
    background-color: #e74c3c;  /* Same red color for consistency */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 45%;
    transition: background-color 0.3s ease;
}

.form-buttons button:hover {
    background-color: #b71c1c;
}

/* Responsive styles */
@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr; /* Stack fields on top of each other */
    }

    .form-buttons button {
        width: 100%; /* Full width for mobile */
    }
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
    .job-actions {
        width: 100%;
        max-width: none; /* Remove the max width constraint */
    }

    .jable {
        width: 100%; /* Ensure table container takes full width */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    table {
        min-width: 100%; /* Allow the table to resize for smaller viewports */
    }
}

@media only screen and (max-width: 480px) {
    .links button {
        font-size: 12px; /* Reduce font size on navigation for small screens */
        padding: 10px;
    }

    th, td {
        padding: 5px; /* Adjust table padding */
    }

    button {
        font-size: 12px; /* Reduce button font size */
    }
}
/* Confirmation Dialog */
.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmation-dialog-buttons {
    display: flex;
    display: block;
    margin-top: 20px;
}

.confirmation-dialog-buttons button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmation-dialog-buttons button:hover {
    background-color: darkred;
}
/* Loading Screen */
.loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #bd1a1a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Blur Effect */
.blur {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevent interactions with blurred content */
}

/* Styling for the Disposable Link Container */
#disposableLinkContainer {
    display: block; /* Set display to block */
    margin: 20px auto; /* Center horizontally */
    padding: 15px 20px;
    border: 2px  #e74c3c; /* Dashed red border */
    border-radius: 8px; /* Rounded corners */
    background-color: #fff8f8; /* Light red background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center; /* Center-align text */
    max-width: 600px; /* Set a maximum width */
}

/* Styling for the text inside the Disposable Link Container */
#disposableLinkContainer p {
    margin: 0;
    font-size: 16px;
    color: #2c3e50;
    font-weight: 600;
}

/* Styling for the Copy Button */
#copyLinkButton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

/* Change background and text color on hover */
#copyLinkButton:hover {
    background-color: #c0392b;
}
#disposableLinkText{
    display: none;
}