body {
    font-family: Arial, sans-serif;
    display: flex; /* Use flexbox to center the form */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; 
    background-color: #efeaea;
}

.nav {
    background: linear-gradient(90deg, rgba(223, 75, 75, 1) 46%, rgba(189, 26, 26, 1) 63%, rgba(130, 20, 20, 1) 97%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav h2 {
    font-size: 20px;
    color: #f2f2f2;
    margin-left: 20px;
    margin-right: auto;
}
/* Form styles */
#jobForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; /* Gap between form groups */
    width: 75%;
    padding: 15px;
    margin-top: 80px; /* Ensure it doesn't overlap with the nav bar */
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2;
}

#jobForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

#jobForm input, 
#jobForm textarea, 
#jobForm select {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't exceed width */
    margin-bottom: 20px;
}

#jobForm input[type="submit"],
#jobForm input[type="button"] {
    color: white;
    background-color: red;
    padding: 15px;
    width: 48%; /* Reduced width to allow spacing */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#jobForm input[type="submit"]:hover,
#jobForm input[type="button"]:hover {
    background-color: darkred;
}

.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: space-between; /* Distribute space between buttons */
}
